
.home-component{
    margin : 0 auto;
    width : 98.5vw;
    height : 100vh;
    }

 .image-cr img{
     cursor: pointer;
     width : 800px;
 }
  

 .image-cr{
    width : 100%;
    padding : 30px;
 }
 