@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Dancing+Script&display=swap');
.sign-up-container{
    display:flex;
    margin : 0;
    padding: 10px;
    background :#000;
    width : 100vw;
    height : 100vh;
   }
 

  .right-sign{
    width : 50%;
   
  }
  .right-sign > img{
   width : 100%;
   margin:0;
  
 }
 
 .left-sign{
    padding : 20px;
    width : 50%;
    height : 500px;
    margin : 0 auto;  
    
 }
 
  .sign-form{
     margin-top : 15px; 
    padding : 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 25px rgba(243, 240, 240, 0.692); 
  }
.input-sign
{
   margin: 0 auto;  
   display: block;
   box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   width: 100%;
   padding: 8px;
   border-radius: 6px;
   -webkit-border-radius:6px;
   -moz-border-radius:6px;
   
}

.label-sign{
    color : rgba(229, 218, 218, 0.876);
}
.btn-sign{
    margin: 0 auto;
    box-shadow: inset 0 1px 0 0 #e8ebed;
    background-color: rgba(249, 245, 245, 0.9);
    /* border: 1px solid rgb(243, 124, 5); */
    display: inline-block;
    cursor: pointer;
    color: black;
    padding: 8px 18px;
    width: 100%;
    font:15x Arial,Helvetica,sans-serif;
    border-radius: 6px; 
    
}

.btn-sign:hover{
box-shadow: 1px 1px 25px rgba(243, 240, 240, 0.966);
transition : 0.5s ease;
}

.txt-back{
    color: #fff;
}
.rg{
  
    color : rgba(229, 218, 218, 0.876);
    margin-left: 10px;
}

.rg:hover{
    color :rgb(243, 124, 5);
}

.legend-rg{
  
  color : #fff;
  text-align: center;
  display: block;
  padding-inline-start: 2px;
  padding-inline-end: 2px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
}
.quote-container{
  margin-top : 20px;
}
.quote {
  padding : 10px;
  font-family: 'Beau Rivage', cursive;
  font-family: 'Dancing Script', cursive;
  color: #fff;
  font-size: 20px;
  text-align: center;

}