.login-container{
   display:flex;
   margin : 0;
   padding: 10px;
   height : 100vh;
  }

.btn-login{
     margin: 0 auto;
     box-shadow: inset 0 1px 0 0 #3985b1;
     background-color: rgba(0,0,0,.9);
     border: 1px solid black;
     display: inline-block;
     cursor: pointer;
     color: #fff;
     padding: 8px 18px;
     width: 100%;
     font:15x Arial,Helvetica,sans-serif;
     border-radius: 6px;
 }


 .right-login{
   width : 50%;
   padding : 0;
   
  
 }
 .right-login img{
  width : 80%;
}

.left-login{
   padding : 20px;
   width : 50%;
   height : 500px;
   margin : 0 auto; 
  
  
}

.form{
   margin : 50px; 
   padding : 20px;
   border-radius: 10px;
   box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
  
}

 .legend-lg{

   align-items: center;
   text-align: center;
   display: block;
   width: 200px;
   border: 1px solid red;
   height : 80px;
  
  
 }

 .legend-lg .img-lg{
    width : 23%;
    text-align : center;
    margin : 0 auto;
    padding : 0;
 
 } 

input[type="text"],
input[type="password"],
input[type="email"]

{
   margin: 0 auto;  
   display: block;
   box-sizing: border-box;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   width: 100%;
   padding: 8px;
   border-radius: 6px;
   -webkit-border-radius:6px;
   -moz-border-radius:6px;
   /* border : none; */
   /* border: 2px solid black; */

}
label{
   font: 14px Arial, Helvetica, sans-serif;
   color: #888;
   margin-bottom: 15px;
}

a{

	text-decoration: none;
	padding: 7px 25px;
	display: inline-block;
    
}  

i {
   /* position: relative; */
  /* top: 59%; */
   /* right: 31%;  */
 }
 i:hover {
   color: #00fcb6;
   cursor: pointer;
 }
 

 