
header{
/* background: black; */
/* background-image : url("https://images.unsplash.com/photo-1574123331112-a1b1d3d93c2d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OTF8fGd1aXRhcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
background-repeat: no-repeat;
background-size: cover;
background-position: center; */
/* font-size  : 1px; */
/* height: 200px; */

}
/* .navbar-collapse{
    background : black;
    padding : 10px;
  
}
.navbar-dark .navbar-nav .nav-link {
color : #fff;
}

.navbar-dark .navbar-toggler{
    background: rgba(0, 0, 0, 0.219);
} */

