*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* body{
    background-image: url('https://www.desktopbackground.org/p/2010/05/01/10629_guitar-acoustic-wallpaper-black-and-brown-acoustic-guitars-wallpaper-guitar-acoustic-wallpapers-hd-desktop-203-wallpaper-download-beautiful-jpg_1280x800_h.jpg');
    background-repeat: no-repeat;
    background-size: cover;
} */