
/* .home-component{
    margin : 0 auto;
    width: 500px;
    } */
.carousel{
    display : flex;
    justify-content: center;  
    border : 2px solid black;

}

/* .carousel .slide{
    height: 80vh;
} */

.carousel .slide img{
 max-height: 100%;
 width: auto;
} 

