
.nav-bar{
background-image : url("https://images.unsplash.com/photo-1574123331112-a1b1d3d93c2d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OTF8fGd1aXRhcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
font-size  : 15px;
height: 300px;

}