.login-container{
   display:flex;
   margin : 0;
   padding: 10px;
   width : 100vw;
   height : 100vh;
  }

 .left-login{
   width : 50%;
  
  }

 .left-login img{
  width : 550px;
  padding: 10px;
}

.right-login{
  
   padding : 10px;
   width :600px;
   height : 500px;
   
  
  
}

 i:hover {
   cursor: pointer;
 }


 