.card-container{
    display:flex;
    flex-direction:row;
    flex-flow: wrap;
    justify-content: space-around;
    padding: 20px;
    width: 100%;
    margin: 0 auto;
    height: auto;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);   
}

.card-guitars{
width : 250px;
padding : 0.5rem;
margin : 15px;
box-shadow:0px 0px 4px 4px rgba(0, 0, 0, 0.203);

}

.card-guitars:hover {
    cursor: pointer;
    box-shadow:5px 0px 5px 5px rgba(0, 0, 0, 0.203);
    width : 251px;
    transition : all 0.3s;

  }

/* ===== search ====== */
.search-box-container{
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    background: url('https://cdn.pixabay.com/photo/2017/11/19/21/55/guitar-2963955_1280.jpg'); 
    height: 200px; 
    /* background-repeat : no-repeat; */
  }

  .d-flex{
      padding: 10px;
      margin : 0 auto !important;
      width: 500px;
}
.btn-outline-dark {
    color: #fff;
    border-color: #fff;
  
}
.price{
    color: #d30000;
    font-size: 1.125rem;
    font-weight: 500;
    
}

.original{
    font-size: 1rem;
    font-weight: 500;
}

.container{
    display: flex;
    list-style: none;
}


.active{
	border: 2px solid #000;
    font-weight: bold;
}

.previous{
    padding: 10px;
    border-radius: 6px;
    margin-right: 10px;
    cursor: pointer;
}

.break{
    padding: 10px;
}

.next{
    padding: 10px;
    border-radius: 6px;
    margin-right: 10px;
    cursor: pointer;
}

@media  (max-width: 700px){
    .d-flex{
        width : 300px;
    }
}